body {
  background-color: #F8F9FD;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(7,133,232,1); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

/* NavBar Section */
.color-me {
  margin: 0.5rem;
}


/* Heading & Paragraph Section */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5rem;
  color: #4BA6EB;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  line-height: 1.5rem;
  color: #4BA6EB;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #4BA6EB;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #161D25;
}

/* Hero Section */

@media (max-width: 1028px) {
  #hero-section {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.honda-crv {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.has-logo {
  display: flex;
  justify-content: center;
}

.cta-block {
  justify-content: center;
}

.cta-btn {
  background-color: #4FCE5D;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #F8F9FD;
  border: none;
  border-radius: 1rem;
  padding: 1% 2%;
}

/* Services Section in Homepage */
section {
  padding: 70px 0;
  background-color: #F8F9FD;
}

section .section-title {
  text-align: center;
  color: #4BA6EB;
  margin-bottom: 50px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

/*The script below is to determine the size of the each card */
#what-we-do .card {
  background-color: #F8F9FD;
  padding: 1rem !important;
  border: none;
  margin-bottom: 1rem;
  transition: .5s all ease;
}

/* the script below is to put the svg icon at the left of the text.  */
#what-we-do .card .card-block {
  padding-left: 70px;
  position: relative;
}

/* the script below is to set the size of each svg icon */
.icon-img {
  position: absolute;
  left: 0;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}

.card-text {
  width: 300px;
  display: flex;
  justify-content: left;
}


/* Horarios Section */
@media (max-width: 768px) {
  #horarios{
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.pic-taller {
  margin-top: 8px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.horarios {
  background-color: #F8F9FD;
}

.list-unstyled {
  height: 85%;
}

.list-horarios {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.list-horarios img {
  color: #707070;
  height: 32px;
  flex: 1;
}

.list-horarios h6 {
  color:#4BA6EB;
  font-size: 1.3rem;
  flex: 10;
  margin-bottom: 0;
}

.iconos-horarios {
  display: flex;
  justify-content: center;
}

/* Map Section */
.googlemap {
  display: block;
  margin: auto;
}


/* Footer Section */

.footer-has {
background: rgb(7,133,232);
background: linear-gradient(360deg, rgba(7,133,232,1) 0%, rgba(75,166,235,1) 55%);
}

.ulist-footer {
  height: 100%;
}

.list-footer {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.fa-icon {
  flex: 0.2;
  color: white;
  justify-content: center;
}

.list-footer p {
  font-size: 1.5rem;
  flex: 10;
  margin-bottom: 0;
  color: white;
}

